 Index Page
 <%= "Loged In" %>
 <%= link_to "Books", books_path %>
 <%= link_to 'Create new author',new_author_path %>
 <%= link_to 'Sign Up', new_user_path %>
 <%= link_to "Users", users_path %>
 <%= link_to "Sign in", new_session_path %>