<%= flash[:danger] %>

<%= form_for @book do |f| %>

<%= f.text_field :title %>
<%= f.text_field :idsn %>
<%= f.text_field :page_count %>
<%= f.text_field :price %>
<%=  f.select :publisher_id, 
              @publishers.map{|f|[f.name,f.id]},
              prompt: 'Select publisher' %>
              
<%= f.collection_check_boxes :author_ids, 
                              @authors, 
                              :id , 
                              :full_name,
                              {label: false,
                              class: "xyz123"} %>

<%= f.file_field :name %>

<%= f.submit "Create Book" %>

<% end %>